@page "/blog"

@implements IDisposable

<PageTitle>Blog</PageTitle>

<h1>Blog</h1>

<p role="status">Bem-Vindo(a) ao meu blog! Você está aqui há @Time segundos</p>

@code {
    var InitialTime = DateTime.Now;
    string Time;
    
    public void Dispose()
    {
        timer?.Dispose();
    }

    Timer timer;
    protected override void OnInitialized()
    {
        timer = new Timer(async _ => 
        {
            Time = await GetValue();        
            await InvokeAsync(StateHasChanged);
        }, null, 0, 1000);
    }

    private async Task<string> GetValue()
    {
        var result = (DateTime.Now - InitialTime).TotalSeconds 
        result = result.ToString();
        return result;
    }
}